@import "leaflet/dist/leaflet.css";
@import "tailwindcss";
@config "../tailwind.config.js";

.leaflet-container {
  width: 100% !important;
  height: 500px !important;
  background-color: #0f172a !important; 
}


.custom-marker-container {
  background: transparent !important;
  border: none !important;
}